 <p><div class="well sidebar-nav">
  <div id='plot'>
    <script>
        $(document).ready(function(){
          <% cache do %>
            var line1 = <%= raw get_stats %>
          <% end %>
            var plot2 = $.jqplot('plot', [line1], {
            title:'Customized Date Axis', 
            //gridPadding:{right:35},
            axes:{
            xaxis:{
              renderer:$.jqplot.DateAxisRenderer, 
              tickOptions:{formatString:'%b %#d, %y'},
              //min:'May 30, 2008', 
              //tickInterval:'1 month'
            }
            },
            //series:[{lineWidth:4, markerOptions:{style:'square'}}]
            });
        });
    </script>
  <div>  
</div><!--/.well -->
</p>