<% cache('plot', :expires_in => 7.hour) do %>
  <p><div class="well sidebar-nav">
  <div id='plot'>
    <script>
        $(document).ready(function(){
            var line1 = <%= raw get_stats %>
            var plot2 = $.jqplot('plot', [line1], {
            title: '<%= t '.views_per_day' %>', 
            axesDefaults: {
              min: null
            },
            axes:{
              y2axes: {min: 5},
              xaxis:{
                renderer:$.jqplot.DateAxisRenderer, 
                tickOptions:{formatString:'%b %d'}, 
                //tickInterval:'1 month'
              }
            },
            });
        });
    </script>
  <div>  
  </div><!--/.well -->
  </p>
<% end %>